@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


$mobile-width : 375px !important;
$desktop-width: 1440px;

//Colors

$primary-blue: hsl(238, 40%, 52%);
$primary-red: hsl(358, 79%, 66%);
$primary-grayish-blue: hsl(239, 57%, 85%);
$primary-pale-red: hsl(357, 100%, 86%);


$neutral-dark-blue: hsl(212, 24%, 26%);
$neutral-grayish-blue: hsl(211, 10%, 45%);
$neutral-light-gray: hsl(223, 19%, 93%);
$neutral-very-light-gray: hsl(228, 33%, 97%);
$neutral-white: hsl(0, 0%, 100%);

@media only screen and (max-width: 768px) {
    .container {
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        box-sizing: border-box;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $neutral-very-light-gray;
        width: $mobile-width;
        .comments {
            width: 96%;
        }
        .reputation-bar {
            width: 10vw !important;
        }
        .avatar {
            width: 7vw !important;
            height: 7vw !important;
        }
        .avatar[data-type="reply-avatar"] {
            width: 7.1vw !important;
        }
        .comments > ul > li > div {
            flex-direction: column-reverse !important;
            justify-content: space-evenly;
            align-items: flex-start;
            position: relative;
            > .reputation-bar {
                align-self: flex-start !important;
                flex-direction: row !important;
                width: 25% !important;
                height: auto !important;
            }
            .comment {
                justify-self: flex-start !important;
                .delete, {
                    position: absolute;
                    bottom: 2vh;
                    right: 15vw;
                }
                .edit {
                    position: absolute;
                    bottom: 2vh;
                    right: 1vw;
                }
                .reply {
                    position: absolute;
                    bottom: 2vh;
                    right: 1vw;
                }
            }
        }
        .vr {
            margin-left: 0vw !important;
        }
        .comments > ul > li > ul > li {
            width: 95% !important;
            flex-direction: column-reverse !important;
            justify-content: space-evenly;
            align-items: flex-start;
            position: relative;
            > .reputation-bar {
                align-self: flex-start !important;
                flex-direction: row !important;
                width: 25% !important;
                height: auto !important;
            }
            .comment {
                justify-self: flex-start !important;
                .delete, {
                    position: absolute;
                    bottom: 2vh;
                    right: 15vw;
                }
                .edit {
                    position: absolute;
                    bottom: 2vh;
                    right: 1vw;
                }
                .reply {
                    position: absolute;
                    bottom: 2vh;
                    right: 1vw;
                }
            }
        }
    }
    .comment-avatar {
        width: 7vw !important;
        height: 7vw !important;
    }
    .add-comment > div {
        display: flex !important;
        flex-direction: column-reverse !important;
        justify-content: flex-start !important;
        align-items: center !important;
        position: relative;
        min-height: 20vh !important;
        > .new-comment {
            position: absolute;
            top: 10vh !important;
            left: 10% !important;
            width: 70% !important;
            height: 5vh !important;
            > textarea {
                width: 100% !important;
            }
        }
        > .comment-avatar {
            justify-self: flex-start !important;
            position: absolute !important;
            left: 10% !important;
            bottom: 3vh;
            cursor: pointer;
        }
        > button {
            position: absolute !important;
            right: 10% !important;
            bottom: 1.5vh;
            width: 20% !important;
            border-radius: 0.5vh !important;
        }
    }
}
 @media screen and (min-width: 768px) {
    body {
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        box-sizing: border-box;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $neutral-very-light-gray;
        .container {
            width: $desktop-width;
            .comments {
                width: 50%;
            }
        }
    }
 }

ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}

.container {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    .comments {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        > ul {
            width: 100%;
            > li {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                > div {
                    width: 100%;
                    padding: 2vh 1vw;
                    display: flex;
                    flex-direction: row;
                    background-color: white;
                    margin: 1vh auto;
                    border-radius: 0.8vh;
                    .reputation-bar {
                        width: 2vw;
                        // flex: 1;
                        background-color:$neutral-light-gray;
                        height: 11vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        align-self: center;
                        border-radius: 0.6vh;
                        .increase {
                            cursor: pointer;
                            margin: 1vh 0;
                            color: $neutral-very-light-gray;
                            svg {
                                fill: $neutral-very-light-gray;
                            }
                        }
                        .decrease {
                            cursor: pointer;
                            margin: 1vh 0;
                            color: $neutral-very-light-gray;
                            svg {
                                fill: $neutral-very-light-gray;
                            }
                        }
                        .rep {
                            color: $primary-blue;
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                    .comment {
                        flex: 17;
                        margin-left: 1vw;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: flex-start;

                        .comment-header {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
                            width: 100%;
                            .user{
                                display: flex;
                                flex-direction: row;
                                flex: 3;
                                align-items: center;
                                .avatar {
                                    margin-left: 0 !important;
                                    cursor: pointer;
                                    width: 1.7vw;
                                    height: 1.7vw;
                                    border-radius: 50%;
                                    > img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                                .username {
                                    color: black;
                                    font-weight: 500;
                                    font-size: 15px;
                                }
                                .badge {
                                    margin-left: 0 !important;
                                    padding: 0.2vh 0.2vw;
                                    border-radius: 10%;
                                    background-color: $primary-blue;
                                    color: white;
                                    font-size: 13px;
                                    &:empty {
                                        display: none !important;
                                    }
                                }
                                .date {
                                    color: $neutral-grayish-blue;
                                    font-size: 15px;
                                }
                                > span {
                                    margin: 0 0.5vw;
                                }
                            }
                            .delete {
                                display: flex;
                                align-items: center;
                                flex-direction: row-reverse;
                                color: $primary-red;
                                font-size: 15px;
                                height: 3vh;
                                cursor: pointer;
                                justify-self: flex-end;
                                margin-right: 1.5vw;
                                font-weight: 500;
                                > span {
                                }
                                > svg {
                                    width: 2vh;
                                    fill: $primary-red;
                                    margin-right: 0.21vw;
                                }
                            }
                            .reply {
                                display: flex;
                                align-items: center;
                                flex-direction: row-reverse;
                                color: $primary-blue;
                                font-size: 15px;
                                height: 3vh;
                                cursor: pointer;
                                font-weight: 500;

                                > span {
                                }
                                > svg {
                                    width: 2vh;
                                    fill: $primary-blue;
                                    margin-right: 0.21vw;
                                }
                            }
                            .edit {
                                display: flex;
                                align-items: center;
                                flex-direction: row-reverse;
                                color: $primary-blue;
                                font-size: 15px;
                                height: 3vh;
                                cursor: pointer;
                                font-weight: 500;
                                > span {
                                }
                                > svg {
                                    width: 2vh;
                                    fill: $primary-blue;
                                    margin-right: 0.21vw;
                                }
                            }
                        }
                        .comment-text {
                            margin: 1.2vh 0;
                            color: $neutral-grayish-blue;
                            font-size: 15px;
                            line-height: 2.3vh;
                        }
                    }
                }
                
                > ul {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    flex-direction: column;
                    padding:0;
                    padding-left: 2vw;
                    position: relative;
                    .vr {
                        position: absolute;
                        height: 95%;
                        width: 2px;
                        z-index: 2;
                        margin-left: 6%;
                        background-color: $neutral-light-gray;
                        align-self: flex-start;
                    }
                    > li{
                        width: 80%;
                        background-color: white;
                        margin: 1vh 0 1vh 11%;
                        padding: 2vh 1vw;
                        border-radius: 0.8vh;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-self: flex-end;
                        .reputation-bar {
                            width: 2vw;
                            background-color:$neutral-light-gray;
                            height: 11vh;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                            align-self: center;
                            border-radius: 0.6vh;
                            .increase {
                                cursor: pointer;
                                margin: 1vh 0;
                                color: $neutral-very-light-gray;
                                svg {
                                    fill: $neutral-very-light-gray;
                                }
                            }
                            .decrease {
                                cursor: pointer;
                                margin: 1vh 0;
                                color: $neutral-very-light-gray;
                                svg {
                                    fill: $neutral-very-light-gray;
                                }
                            }
                            .rep {
                                color: $primary-blue;
                                font-size: 15px;
                                font-weight: 500;
                            }
                        }
                        .comment {
                            flex: 13;
                            margin-left: 1vw;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: flex-start;
                            .comment-header {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;
                                align-items: center;
                                width: 100%;
                                .user{
                                    display: flex;
                                    flex-direction: row;
                                    flex: 3;
                                    align-items: center;
                                    .avatar {
                                        margin-left: 0 !important;
                                        cursor: pointer;
                                        width: 1.7vw;
                                        height: 1.7vw;
                                        border-radius: 50%;
                                        > img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                    .username {
                                        color: black;
                                        font-weight: 500;
                                        font-size: 15px;
                                    }
                                    .badge {
                                        margin-left: 0 !important;
                                        padding: 0.2vh 0.2vw;
                                        border-radius: 10%;
                                        background-color: $primary-blue;
                                        color: white;
                                        font-size: 13px;
                                        &:empty {
                                            display: none;
                                        }
                                    }
                                    .date {
                                        color: $neutral-grayish-blue;
                                        font-size: 15px;
                                    }
                                    > span {
                                        margin: 0 0.5vw;
                                    }
                                }
                                .delete {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row-reverse;
                                    color: $primary-red;
                                    font-size: 15px;
                                    height: 3vh;
                                    cursor: pointer;
                                    justify-self: flex-end;
                                    margin-right: 1.5vw;
                                    font-weight: 500;

                                    > span {
                                    }
                                    > svg {
                                        width: 2vh;
                                        fill: $primary-red;
                                        margin-right: 0.21vw;
                                    }
                                }
                                .reply {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row-reverse;
                                    color: $primary-blue;
                                    font-size: 15px;
                                    height: 3vh;
                                    cursor: pointer;
                                    font-weight: 500;
                                    > span {
                                    }
                                    > svg {
                                        width: 2vh;
                                        fill: $primary-blue;
                                        margin-right: 0.21vw;
                                    }
                                }
                                .edit {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: row-reverse;
                                    color: $primary-blue;
                                    font-size: 15px;
                                    height: 3vh;
                                    cursor: pointer;
                                    font-weight: 500;

                                    > span {
                                    }
                                    > svg {
                                        width: 2vh;
                                        fill: $primary-blue;
                                        margin-right: 0.21vw;
                                    }
                                }
                            }
                            .comment-text {
                                margin: 1.2vh 0;
                                color: $neutral-grayish-blue;
                                font-size: 15px;
                                line-height: 2.3vh;
                                > a {
                                    color: $primary-blue;
                                    font-size: 15px;
                                    font-weight: 500;
                                    line-height: 2.3vh;
                                }
                            }
                        }
                }   }
            }
        }
        .add-comment {
            width: 100%;
            height: min-content;
            // margin-left: 15vw;
            > div {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-start;
                padding: 2vh 1vw;
                background-color: white;
                border-radius: 0.8vh;
                height: min-content;

                .comment-avatar {
                    width: 2.2vw;
                    height: 2.2vw;
                    border-radius: 50%;
                    > img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .new-comment {
                    height: min-content;
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    border: 1px solid $neutral-light-gray;
                    border-radius: 0.2vw;
                    padding-top: 1vh;
                    > textarea {
                        width: 95%;
                        height: auto;
                        flex: 1;
                        min-height: 10vh;
                        outline: none;
                        font-size: 16px;
                        color: $neutral-grayish-blue;
                        border: none;
                        font-family: 'Rubik', sans-serif;
                        resize: none;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        word-wrap: break-word;
                        overflow: hidden;
                        word-break: break-word;
                        line-height: 2.3vh;
                        &::placeholder {
                            color: $neutral-grayish-blue;
                            opacity: 1;
                        }
                    }
                    > a {
                        margin-top: -0.6vh !important;
                        margin-left: 1vw;
                        background-color: $primary-blue;
                        color: white !important;
                        width: max-content;
                        padding: 0.2vh 0.3vw;
                        border-radius: 0.5vh;
                        line-height: 0.4vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        > svg {
                            margin-left: 0.3vw;
                        }
                    }
                }
                > button {
                    border: none;
                    border-radius: 0.3vw;
                    outline: none;
                    background-color: $primary-blue;
                    color: white;
                    width:13%;
                    font-weight: 500;
                    font-size: 14px;
                    padding: 1.5vh 0.6vw;
                    font-family: 'Rubik', sans-serif;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }
    }
}

.attribution {
    margin-top: 2vh;
}

#replying-tag {
    color: $primary-blue;
    font-size: 15px;
    font-weight: 500;
    line-height: 2.3vh;
}