@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@media only screen and (max-width: 768px) {
  .container {
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f6fa;
    width: 375px !important;
  }
  .container .comments {
    width: 96%;
  }
  .container .reputation-bar {
    width: 10vw !important;
  }
  .container .avatar {
    width: 7vw !important;
    height: 7vw !important;
  }
  .container .avatar[data-type=reply-avatar] {
    width: 7.1vw !important;
  }
  .container .comments > ul > li > div {
    flex-direction: column-reverse !important;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
  }
  .container .comments > ul > li > div > .reputation-bar {
    align-self: flex-start !important;
    flex-direction: row !important;
    width: 25% !important;
    height: auto !important;
  }
  .container .comments > ul > li > div .comment {
    justify-self: flex-start !important;
  }
  .container .comments > ul > li > div .comment .delete {
    position: absolute;
    bottom: 2vh;
    right: 15vw;
  }
  .container .comments > ul > li > div .comment .edit {
    position: absolute;
    bottom: 2vh;
    right: 1vw;
  }
  .container .comments > ul > li > div .comment .reply {
    position: absolute;
    bottom: 2vh;
    right: 1vw;
  }
  .container .vr {
    margin-left: 0vw !important;
  }
  .container .comments > ul > li > ul > li {
    width: 95% !important;
    flex-direction: column-reverse !important;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
  }
  .container .comments > ul > li > ul > li > .reputation-bar {
    align-self: flex-start !important;
    flex-direction: row !important;
    width: 25% !important;
    height: auto !important;
  }
  .container .comments > ul > li > ul > li .comment {
    justify-self: flex-start !important;
  }
  .container .comments > ul > li > ul > li .comment .delete {
    position: absolute;
    bottom: 2vh;
    right: 15vw;
  }
  .container .comments > ul > li > ul > li .comment .edit {
    position: absolute;
    bottom: 2vh;
    right: 1vw;
  }
  .container .comments > ul > li > ul > li .comment .reply {
    position: absolute;
    bottom: 2vh;
    right: 1vw;
  }

  .comment-avatar {
    width: 7vw !important;
    height: 7vw !important;
  }

  .add-comment > div {
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: flex-start !important;
    align-items: center !important;
    position: relative;
    min-height: 20vh !important;
  }
  .add-comment > div > .new-comment {
    position: absolute;
    top: 10vh !important;
    left: 10% !important;
    width: 70% !important;
    height: 5vh !important;
  }
  .add-comment > div > .new-comment > textarea {
    width: 100% !important;
  }
  .add-comment > div > .comment-avatar {
    justify-self: flex-start !important;
    position: absolute !important;
    left: 10% !important;
    bottom: 3vh;
    cursor: pointer;
  }
  .add-comment > div > button {
    position: absolute !important;
    right: 10% !important;
    bottom: 1.5vh;
    width: 20% !important;
    border-radius: 0.5vh !important;
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f6fa;
  }
  body .container {
    width: 1440px;
  }
  body .container .comments {
    width: 50%;
  }
}
ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}
.container .comments {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.container .comments > ul {
  width: 100%;
}
.container .comments > ul > li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container .comments > ul > li > div {
  width: 100%;
  padding: 2vh 1vw;
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 1vh auto;
  border-radius: 0.8vh;
}
.container .comments > ul > li > div .reputation-bar {
  width: 2vw;
  background-color: #eaecf1;
  height: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  border-radius: 0.6vh;
}
.container .comments > ul > li > div .reputation-bar .increase {
  cursor: pointer;
  margin: 1vh 0;
  color: #f5f6fa;
}
.container .comments > ul > li > div .reputation-bar .increase svg {
  fill: #f5f6fa;
}
.container .comments > ul > li > div .reputation-bar .decrease {
  cursor: pointer;
  margin: 1vh 0;
  color: #f5f6fa;
}
.container .comments > ul > li > div .reputation-bar .decrease svg {
  fill: #f5f6fa;
}
.container .comments > ul > li > div .reputation-bar .rep {
  color: #5457b6;
  font-size: 15px;
  font-weight: 500;
}
.container .comments > ul > li > div .comment {
  flex: 17;
  margin-left: 1vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.container .comments > ul > li > div .comment .comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.container .comments > ul > li > div .comment .comment-header .user {
  display: flex;
  flex-direction: row;
  flex: 3;
  align-items: center;
}
.container .comments > ul > li > div .comment .comment-header .user .avatar {
  margin-left: 0 !important;
  cursor: pointer;
  width: 1.7vw;
  height: 1.7vw;
  border-radius: 50%;
}
.container .comments > ul > li > div .comment .comment-header .user .avatar > img {
  width: 100%;
  height: 100%;
}
.container .comments > ul > li > div .comment .comment-header .user .username {
  color: black;
  font-weight: 500;
  font-size: 15px;
}
.container .comments > ul > li > div .comment .comment-header .user .badge {
  margin-left: 0 !important;
  padding: 0.2vh 0.2vw;
  border-radius: 10%;
  background-color: #5457b6;
  color: white;
  font-size: 13px;
}
.container .comments > ul > li > div .comment .comment-header .user .badge:empty {
  display: none !important;
}
.container .comments > ul > li > div .comment .comment-header .user .date {
  color: #67727e;
  font-size: 15px;
}
.container .comments > ul > li > div .comment .comment-header .user > span {
  margin: 0 0.5vw;
}
.container .comments > ul > li > div .comment .comment-header .delete {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: #ed6468;
  font-size: 15px;
  height: 3vh;
  cursor: pointer;
  justify-self: flex-end;
  margin-right: 1.5vw;
  font-weight: 500;
}
.container .comments > ul > li > div .comment .comment-header .delete > svg {
  width: 2vh;
  fill: #ed6468;
  margin-right: 0.21vw;
}
.container .comments > ul > li > div .comment .comment-header .reply {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: #5457b6;
  font-size: 15px;
  height: 3vh;
  cursor: pointer;
  font-weight: 500;
}
.container .comments > ul > li > div .comment .comment-header .reply > svg {
  width: 2vh;
  fill: #5457b6;
  margin-right: 0.21vw;
}
.container .comments > ul > li > div .comment .comment-header .edit {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: #5457b6;
  font-size: 15px;
  height: 3vh;
  cursor: pointer;
  font-weight: 500;
}
.container .comments > ul > li > div .comment .comment-header .edit > svg {
  width: 2vh;
  fill: #5457b6;
  margin-right: 0.21vw;
}
.container .comments > ul > li > div .comment .comment-text {
  margin: 1.2vh 0;
  color: #67727e;
  font-size: 15px;
  line-height: 2.3vh;
}
.container .comments > ul > li > ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  padding: 0;
  padding-left: 2vw;
  position: relative;
}
.container .comments > ul > li > ul .vr {
  position: absolute;
  height: 95%;
  width: 2px;
  z-index: 2;
  margin-left: 6%;
  background-color: #eaecf1;
  align-self: flex-start;
}
.container .comments > ul > li > ul > li {
  width: 80%;
  background-color: white;
  margin: 1vh 0 1vh 11%;
  padding: 2vh 1vw;
  border-radius: 0.8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-end;
}
.container .comments > ul > li > ul > li .reputation-bar {
  width: 2vw;
  background-color: #eaecf1;
  height: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  border-radius: 0.6vh;
}
.container .comments > ul > li > ul > li .reputation-bar .increase {
  cursor: pointer;
  margin: 1vh 0;
  color: #f5f6fa;
}
.container .comments > ul > li > ul > li .reputation-bar .increase svg {
  fill: #f5f6fa;
}
.container .comments > ul > li > ul > li .reputation-bar .decrease {
  cursor: pointer;
  margin: 1vh 0;
  color: #f5f6fa;
}
.container .comments > ul > li > ul > li .reputation-bar .decrease svg {
  fill: #f5f6fa;
}
.container .comments > ul > li > ul > li .reputation-bar .rep {
  color: #5457b6;
  font-size: 15px;
  font-weight: 500;
}
.container .comments > ul > li > ul > li .comment {
  flex: 13;
  margin-left: 1vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.container .comments > ul > li > ul > li .comment .comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.container .comments > ul > li > ul > li .comment .comment-header .user {
  display: flex;
  flex-direction: row;
  flex: 3;
  align-items: center;
}
.container .comments > ul > li > ul > li .comment .comment-header .user .avatar {
  margin-left: 0 !important;
  cursor: pointer;
  width: 1.7vw;
  height: 1.7vw;
  border-radius: 50%;
}
.container .comments > ul > li > ul > li .comment .comment-header .user .avatar > img {
  width: 100%;
  height: 100%;
}
.container .comments > ul > li > ul > li .comment .comment-header .user .username {
  color: black;
  font-weight: 500;
  font-size: 15px;
}
.container .comments > ul > li > ul > li .comment .comment-header .user .badge {
  margin-left: 0 !important;
  padding: 0.2vh 0.2vw;
  border-radius: 10%;
  background-color: #5457b6;
  color: white;
  font-size: 13px;
}
.container .comments > ul > li > ul > li .comment .comment-header .user .badge:empty {
  display: none;
}
.container .comments > ul > li > ul > li .comment .comment-header .user .date {
  color: #67727e;
  font-size: 15px;
}
.container .comments > ul > li > ul > li .comment .comment-header .user > span {
  margin: 0 0.5vw;
}
.container .comments > ul > li > ul > li .comment .comment-header .delete {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: #ed6468;
  font-size: 15px;
  height: 3vh;
  cursor: pointer;
  justify-self: flex-end;
  margin-right: 1.5vw;
  font-weight: 500;
}
.container .comments > ul > li > ul > li .comment .comment-header .delete > svg {
  width: 2vh;
  fill: #ed6468;
  margin-right: 0.21vw;
}
.container .comments > ul > li > ul > li .comment .comment-header .reply {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: #5457b6;
  font-size: 15px;
  height: 3vh;
  cursor: pointer;
  font-weight: 500;
}
.container .comments > ul > li > ul > li .comment .comment-header .reply > svg {
  width: 2vh;
  fill: #5457b6;
  margin-right: 0.21vw;
}
.container .comments > ul > li > ul > li .comment .comment-header .edit {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: #5457b6;
  font-size: 15px;
  height: 3vh;
  cursor: pointer;
  font-weight: 500;
}
.container .comments > ul > li > ul > li .comment .comment-header .edit > svg {
  width: 2vh;
  fill: #5457b6;
  margin-right: 0.21vw;
}
.container .comments > ul > li > ul > li .comment .comment-text {
  margin: 1.2vh 0;
  color: #67727e;
  font-size: 15px;
  line-height: 2.3vh;
}
.container .comments > ul > li > ul > li .comment .comment-text > a {
  color: #5457b6;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.3vh;
}
.container .comments .add-comment {
  width: 100%;
  height: min-content;
}
.container .comments .add-comment > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2vh 1vw;
  background-color: white;
  border-radius: 0.8vh;
  height: min-content;
}
.container .comments .add-comment > div .comment-avatar {
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 50%;
}
.container .comments .add-comment > div .comment-avatar > img {
  width: 100%;
  height: 100%;
}
.container .comments .add-comment > div .new-comment {
  height: min-content;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #eaecf1;
  border-radius: 0.2vw;
  padding-top: 1vh;
}
.container .comments .add-comment > div .new-comment > textarea {
  width: 95%;
  height: auto;
  flex: 1;
  min-height: 10vh;
  outline: none;
  font-size: 16px;
  color: #67727e;
  border: none;
  font-family: "Rubik", sans-serif;
  resize: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  word-wrap: break-word;
  overflow: hidden;
  word-break: break-word;
  line-height: 2.3vh;
}
.container .comments .add-comment > div .new-comment > textarea::placeholder {
  color: #67727e;
  opacity: 1;
}
.container .comments .add-comment > div .new-comment > a {
  margin-top: -0.6vh !important;
  margin-left: 1vw;
  background-color: #5457b6;
  color: white !important;
  width: max-content;
  padding: 0.2vh 0.3vw;
  border-radius: 0.5vh;
  line-height: 0.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .comments .add-comment > div .new-comment > a > svg {
  margin-left: 0.3vw;
}
.container .comments .add-comment > div > button {
  border: none;
  border-radius: 0.3vw;
  outline: none;
  background-color: #5457b6;
  color: white;
  width: 13%;
  font-weight: 500;
  font-size: 14px;
  padding: 1.5vh 0.6vw;
  font-family: "Rubik", sans-serif;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.attribution {
  margin-top: 2vh;
}

#replying-tag {
  color: #5457b6;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.3vh;
}

/*# sourceMappingURL=app.css.map */
